.banner {
  height: 400px;
  background-image: url(../UI/meals.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding-bottom: 10px;
}
